<%
  function isEmpty(string) {
    if (typeof string === 'undefined' || string === '') {
      return true;
    }
    return false;
  }

  var url               = isEmpty(page.path) ? site.rootUrl : site.rootUrl + page.path,
      title             = isEmpty(page.title) ? site.title : page.title,
      description       = isEmpty(page.description) ? site.description : page.description,
      ogTitle           = isEmpty(page.ogTitle) ? title : page.ogTitle,
      ogDescription     = isEmpty(page.ogDescription) ? description : page.ogDescription,
      ogImage           = isEmpty(page.ogImage) ? site.ogImage : page.ogImage,
      fbAppId           = site.fbAppId,
      twitterScreenName = site.twitterScreenName;
%>

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="<%= description %>">
    <title><%= title %></title>
    <link rel="canonical" href="<%= url %>">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
    <meta property="og:title" content="<%= ogTitle %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:image" content="<%= ogImage %>">
    <meta property="og:description" content="<%= ogDescription %>">
    <meta property="fb:app_id" content="<%= fbAppId %>">
    <meta name="twitter:card" content="sumarry">
    <meta name="twitter:site" content="@<%= twitterScreenName %>">
    <meta name="twitter:title" content="<%= ogTitle %>">
    <meta name="twitter:description" content="<%= ogDescription %>">
    <meta name="twitter:image" content="<%= ogImage %>">
  </head>

  <body>
